<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconName</key>
		<string>icon_menu_goals</string>
		<key>title</key>
		<string>Create and view goals</string>
		<key>identifier</key>
		<string>PXGoalsNavTVC</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>icon_menu_action_plans</string>
		<key>title</key>
		<string>Create and view action plans</string>
		<key>identifier</key>
		<string>PXActionPlansViewController</string>
		<key>group</key>
		<dict>
			<key>key</key>
			<string>highAP</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>iconName</key>
		<string>icon_menu_action_plans</string>
		<key>title</key>
		<string>Why set an action plan?</string>
		<key>identifier</key>
		<string>PXWhyActionPlanViewController</string>
		<key>group</key>
		<dict>
			<key>key</key>
			<string>highAP</string>
			<key>value</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>iconName</key>
		<string>icon_menu_reflections</string>
		<key>title</key>
		<string>What has and hasn’t worked</string>
		<key>identifier</key>
		<string>PXGoalReflectionsVC</string>
		<key>group</key>
		<dict>
			<key>key</key>
			<string>highSM</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>iconName</key>
		<string>icon_menu_hangover</string>
		<key>title</key>
		<string>Your hangover and you </string>
		<key>identifier</key>
		<string>PXHowAlcoholEffectsVC</string>
		<key>group</key>
		<dict>
			<key>key</key>
			<string>highSM</string>
			<key>value</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>iconName</key>
		<string>activities-game</string>
		<key>title</key>
		<string>Game</string>
		<key>identifier</key>
		<string>game</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>icon_menu_audit</string>
		<key>title</key>
		<string>Review your drinking</string>
		<key>identifier</key>
		<string>AuditHistoryOverviewVC</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>progress-drinking-cues</string>
		<key>title</key>
		<string>Your drinking cues</string>
		<key>identifier</key>
		<string>YourDrinkingCuesIntroVC</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>progress-behav-sub</string>
		<key>title</key>
		<string>Drinking alternatives</string>
		<key>identifier</key>
		<string>MakePlanIntroVC</string>
	</dict>
</array>
</plist>
