<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>16-24:female</key>
		<integer>2</integer>
		<key>16-24:male</key>
		<integer>3</integer>
		<key>25-34:female</key>
		<integer>1</integer>
		<key>25-34:male</key>
		<integer>3</integer>
		<key>35-44:female</key>
		<integer>2</integer>
		<key>35-44:male</key>
		<integer>3</integer>
		<key>45-54:female</key>
		<integer>3</integer>
		<key>45-54:male</key>
		<integer>4</integer>
		<key>55-64:female</key>
		<integer>2</integer>
		<key>55-64:male</key>
		<integer>4</integer>
		<key>65+:female</key>
		<integer>1</integer>
		<key>65+:male</key>
		<integer>3</integer>
		<key>all-UK</key>
		<integer>3</integer>
		<key>percentile</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>3</integer>
		<key>16-24:male</key>
		<integer>4</integer>
		<key>25-34:female</key>
		<integer>2</integer>
		<key>25-34:male</key>
		<integer>4</integer>
		<key>35-44:female</key>
		<integer>3</integer>
		<key>35-44:male</key>
		<integer>4</integer>
		<key>45-54:female</key>
		<integer>3</integer>
		<key>45-54:male</key>
		<integer>4</integer>
		<key>55-64:female</key>
		<integer>3</integer>
		<key>55-64:male</key>
		<integer>4</integer>
		<key>65+:female</key>
		<integer>1</integer>
		<key>65+:male</key>
		<integer>3</integer>
		<key>all-UK</key>
		<integer>3</integer>
		<key>percentile</key>
		<integer>55</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>4</integer>
		<key>16-24:male</key>
		<integer>5</integer>
		<key>25-34:female</key>
		<integer>2</integer>
		<key>25-34:male</key>
		<integer>4</integer>
		<key>35-44:female</key>
		<integer>3</integer>
		<key>35-44:male</key>
		<integer>4</integer>
		<key>45-54:female</key>
		<integer>3</integer>
		<key>45-54:male</key>
		<integer>5</integer>
		<key>55-64:female</key>
		<integer>3</integer>
		<key>55-64:male</key>
		<integer>4</integer>
		<key>65+:female</key>
		<integer>2</integer>
		<key>65+:male</key>
		<integer>4</integer>
		<key>all-UK</key>
		<integer>4</integer>
		<key>percentile</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>4</integer>
		<key>16-24:male</key>
		<integer>6</integer>
		<key>25-34:female</key>
		<integer>3</integer>
		<key>25-34:male</key>
		<integer>5</integer>
		<key>35-44:female</key>
		<integer>3</integer>
		<key>35-44:male</key>
		<integer>5</integer>
		<key>45-54:female</key>
		<integer>4</integer>
		<key>45-54:male</key>
		<integer>5</integer>
		<key>55-64:female</key>
		<integer>3</integer>
		<key>55-64:male</key>
		<integer>5</integer>
		<key>65+:female</key>
		<integer>2</integer>
		<key>65+:male</key>
		<integer>4</integer>
		<key>all-UK</key>
		<integer>4</integer>
		<key>percentile</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>5</integer>
		<key>16-24:male</key>
		<integer>7</integer>
		<key>25-34:female</key>
		<integer>4</integer>
		<key>25-34:male</key>
		<integer>6</integer>
		<key>35-44:female</key>
		<integer>4</integer>
		<key>35-44:male</key>
		<integer>5</integer>
		<key>45-54:female</key>
		<integer>4</integer>
		<key>45-54:male</key>
		<integer>6</integer>
		<key>55-64:female</key>
		<integer>4</integer>
		<key>55-64:male</key>
		<integer>6</integer>
		<key>65+:female</key>
		<integer>3</integer>
		<key>65+:male</key>
		<integer>4</integer>
		<key>all-UK</key>
		<integer>4</integer>
		<key>percentile</key>
		<integer>70</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>6</integer>
		<key>16-24:male</key>
		<integer>8</integer>
		<key>25-34:female</key>
		<integer>4</integer>
		<key>25-34:male</key>
		<integer>6</integer>
		<key>35-44:female</key>
		<integer>4</integer>
		<key>35-44:male</key>
		<integer>6</integer>
		<key>45-54:female</key>
		<integer>4</integer>
		<key>45-54:male</key>
		<integer>6</integer>
		<key>55-64:female</key>
		<integer>4</integer>
		<key>55-64:male</key>
		<integer>6</integer>
		<key>65+:female</key>
		<integer>3</integer>
		<key>65+:male</key>
		<integer>4</integer>
		<key>all-UK</key>
		<integer>5</integer>
		<key>percentile</key>
		<integer>75</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>7</integer>
		<key>16-24:male</key>
		<integer>9</integer>
		<key>25-34:female</key>
		<integer>5</integer>
		<key>25-34:male</key>
		<integer>7</integer>
		<key>35-44:female</key>
		<integer>5</integer>
		<key>35-44:male</key>
		<integer>7</integer>
		<key>45-54:female</key>
		<integer>5</integer>
		<key>45-54:male</key>
		<integer>7</integer>
		<key>55-64:female</key>
		<integer>5</integer>
		<key>55-64:male</key>
		<integer>7</integer>
		<key>65+:female</key>
		<integer>4</integer>
		<key>65+:male</key>
		<integer>5</integer>
		<key>all-UK</key>
		<integer>6</integer>
		<key>percentile</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>8</integer>
		<key>16-24:male</key>
		<integer>10</integer>
		<key>25-34:female</key>
		<integer>6</integer>
		<key>25-34:male</key>
		<integer>9</integer>
		<key>35-44:female</key>
		<integer>6</integer>
		<key>35-44:male</key>
		<integer>8</integer>
		<key>45-54:female</key>
		<integer>6</integer>
		<key>45-54:male</key>
		<integer>8</integer>
		<key>55-64:female</key>
		<integer>5</integer>
		<key>55-64:male</key>
		<integer>8</integer>
		<key>65+:female</key>
		<integer>4</integer>
		<key>65+:male</key>
		<integer>6</integer>
		<key>all-UK</key>
		<integer>7</integer>
		<key>percentile</key>
		<integer>85</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>10</integer>
		<key>16-24:male</key>
		<integer>12</integer>
		<key>25-34:female</key>
		<integer>7</integer>
		<key>25-34:male</key>
		<integer>10</integer>
		<key>35-44:female</key>
		<integer>7</integer>
		<key>35-44:male</key>
		<integer>10</integer>
		<key>45-54:female</key>
		<integer>7</integer>
		<key>45-54:male</key>
		<integer>9</integer>
		<key>55-64:female</key>
		<integer>6</integer>
		<key>55-64:male</key>
		<integer>9</integer>
		<key>65+:female</key>
		<integer>4</integer>
		<key>65+:male</key>
		<integer>7</integer>
		<key>all-UK</key>
		<integer>8</integer>
		<key>percentile</key>
		<integer>90</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>13</integer>
		<key>16-24:male</key>
		<integer>14</integer>
		<key>25-34:female</key>
		<integer>9</integer>
		<key>25-34:male</key>
		<integer>13</integer>
		<key>35-44:female</key>
		<integer>9</integer>
		<key>35-44:male</key>
		<integer>12</integer>
		<key>45-54:female</key>
		<integer>9</integer>
		<key>45-54:male</key>
		<integer>12</integer>
		<key>55-64:female</key>
		<integer>8</integer>
		<key>55-64:male</key>
		<integer>11</integer>
		<key>65+:female</key>
		<integer>5</integer>
		<key>65+:male</key>
		<integer>10</integer>
		<key>all-UK</key>
		<integer>11</integer>
		<key>percentile</key>
		<integer>95</integer>
	</dict>
	<dict>
		<key>16-24:female</key>
		<integer>40</integer>
		<key>16-24:male</key>
		<integer>40</integer>
		<key>25-34:female</key>
		<integer>40</integer>
		<key>25-34:male</key>
		<integer>40</integer>
		<key>35-44:female</key>
		<integer>40</integer>
		<key>35-44:male</key>
		<integer>40</integer>
		<key>45-54:female</key>
		<integer>40</integer>
		<key>45-54:male</key>
		<integer>40</integer>
		<key>55-64:female</key>
		<integer>40</integer>
		<key>55-64:male</key>
		<integer>40</integer>
		<key>65+:female</key>
		<integer>40</integer>
		<key>65+:male</key>
		<integer>40</integer>
		<key>all-UK</key>
		<integer>40</integer>
		<key>percentile</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
