<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00000.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00001.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00002.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00003.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00004.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00005.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00006.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00007.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00008.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00009.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00010.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00011.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00012.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00013.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00014.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00015.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00016.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00017.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00018.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>alcoholic_00019.jpg</string>
		<key>positive</key>
		<false/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00000.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00001.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00002.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00003.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00004.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00005.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00006.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00007.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00008.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00009.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00010.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00011.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00012.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00013.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00014.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00015.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00016.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00017.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00018.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
	<dict>
		<key>imageName</key>
		<string>soft_00019.jpg</string>
		<key>positive</key>
		<true/>
	</dict>
</array>
</plist>
