<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>Impulsiveness Question 1</string>
		<string>Impulsiveness Question 2</string>
		<string>Impulsiveness Question 3</string>
		<string>Impulsiveness Question 4</string>
	</array>
	<key>HeaderLabel</key>
	<string>Impulsiveness scale</string>
	<key>DescriptionLabel</key>
	<string>Before you complete the Impulsiveness scale please indicate how intoxicated you feel right now</string>
	<key>VCIdentifier</key>
	<string>PXImpulsivenessTVC</string>
</dict>
</plist>
