<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Set and view goals</string>
		<key>vc</key>
		<string>PXYourGoalsVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>How to set good goals</string>
		<key>resource</key>
		<string>good-goal-setting</string>
	</dict>
</array>
</plist>
