<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconName</key>
		<string>dashboard-help-icon</string>
		<key>title</key>
		<string>Help</string>
		<key>identifier</key>
		<string>help</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>Icon-Type</string>
		<key>title</key>
		<string>Units</string>
		<key>identifier</key>
		<string>units</string>
	</dict>
	<dict>
		<key>iconName</key>
		<string>information80</string>
		<key>title</key>
		<string>Drinking guidelines</string>
		<key>identifier</key>
		<string>drinking-guidelines</string>
	</dict>
</array>
</plist>
