<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeaderLabel</key>
	<string>Risk Taking</string>
	<key>DescriptionLabel</key>
	<string>Before you measure your risk taking please indicate how intoxicated you feel right now</string>
	<key>VCIdentifier</key>
	<string>PXRiskTakingVC</string>
</dict>
</plist>
