<!DOCTYPE html>
<html>
  <head>
    <title>Drink Less App</title>
  </head>
  <body>
    <h1>Drink Less Users</h1>
   
    
    <table border="1">
    <tr>
        <td>Object id</td>
        <td>Audit Score</td>
        <td>Demographic answers</td>
        <td>Created at</td>
        </tr>
        
        
    <script language="javascript" type="text/javascript">

    
    for (var i =0 ; i < 5; i++) {
      document.write("<tr><td><%= resultsArray[0] %></td><td><%= resultsArray[1] %></td><td><%= resultsArray[2] %></td><td><%= resultsArray[3] %></td></tr>");
    }


    </script>   
      
     </table>

  </body>
</html>
