
<!DOCTYPE html>
<html>
  <head>
    <title>Drink Less App</title>
  </head>
  <body>
    <h1>Drink Less App</h1>
    <p><%= message %></p>
    
    <p><a href="/getUser">Users</a></p>
  </body>
</html>
