<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>questiontitle</key>
		<string>How often do you have a drink containing alcohol?</string>
		<key>question-type</key>
		<string>multiple-choice</string>
		<key>questionID</key>
		<string>Question1</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Never</string>
				<key>scorevalue</key>
				<string>0</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>Monthly or less</string>
				<key>scorevalue</key>
				<string>1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>2 to 4 times a month </string>
				<key>scorevalue</key>
				<string>2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>2 or 3 times a week </string>
				<key>scorevalue</key>
				<string>3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>4 or more times a week</string>
				<key>scorevalue</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questiontitle</key>
		<string>How many standard drinks containing alcohol do you have on a typical day?</string>
		<key>question-type</key>
		<string>multiple-choice</string>
		<key>questionID</key>
		<string>Question2</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>1-2</string>
				<key>scorevalue</key>
				<string>0</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>3-4</string>
				<key>scorevalue</key>
				<string>1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>5-6</string>
				<key>scorevalue</key>
				<string>2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>7-9</string>
				<key>scorevalue</key>
				<string>3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>10 or more</string>
				<key>scorevalue</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questiontitle</key>
		<string>How often do you have six or more drinks on one occasion?</string>
		<key>question-type</key>
		<string>multiple-choice</string>
		<key>questionID</key>
		<string>Question3</string>
		<key>answers</key>
		<array>
			<dict>
				<key>answer</key>
				<string>Never</string>
				<key>scorevalue</key>
				<string>0</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>Less than monthly </string>
				<key>scorevalue</key>
				<string>1</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>Monthly</string>
				<key>scorevalue</key>
				<string>2</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>Weekly</string>
				<key>scorevalue</key>
				<string>3</string>
			</dict>
			<dict>
				<key>answer</key>
				<string>Daily or almost daily</string>
				<key>scorevalue</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>questiontitle</key>
		<string>slider question</string>
		<key>question-type</key>
		<string>slider</string>
		<key>questionID</key>
		<string>Question4</string>
	</dict>
	<dict>
		<key>questiontitle</key>
		<string>Another slider question</string>
		<key>question-type</key>
		<string>slider</string>
		<key>questionID</key>
		<string>Question5</string>
	</dict>
	<dict>
		<key>questiontitle</key>
		<string>Yet another slider question</string>
		<key>question-type</key>
		<string>slider</string>
		<key>questionID</key>
		<string>Question6</string>
	</dict>
</array>
</plist>
